.container {
  width: 1000px;
  min-height: 350px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  display: table; 
  border-collapse: collapse;
}

.column {
  display: table-row;  
}


#country-choose, 
#country-desc,
#country-add {
  display: table-cell; 
  vertical-align: top;
}

/* COUNTRY-CHOOSE START*/
#country-choose {
  width: 250px;
  border-right: 1px solid #e5e5e5;
}

#country-choose ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#country-choose ul li a {
  text-transform: uppercase;
    display: block;
    padding: 20px 25px;
    color: #0088cc;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: -1px;
    text-decoration: none;
}

.del, .edit {
  float: right;
  top: 10px;
  left: 0;
  position: relative;
  content: ' ';
  border: none;
  background: none;
  text-indent: -9999px;
  font-family: FontAwesome;  
  padding-right: 25px;
}


.del:after, .edit:after {
  position: absolute;
  text-indent: 0;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #45688E;
}

.edit:after {
  content: "\f040";
}

.del:after {
  content: "\f014";
}


#country-choose ul li:hover a {
  background-color: #e5e5e5;
}

#country-choose ul li a img {
  width: 50px;
  vertical-align: middle; 
}

#country-choose ul li a span {
  padding-left: 10px;
  font-weight: 800;
}

#country-choose ul li.active a {
  background-color: #0088cc;
  color: white;
}
/* COUNTRY-CHOOSE END*/



/* COUNTRY-DESC START*/
#country-desc {
  width: 370px;
  padding: 10px 15px;
  box-sizing: border-box;
 }

#country-desc h1 {
  padding: 0;
  margin: 0;
  color: #45688E;
}
/* COUNTRY-DESC END*/


/* COUNTRY-ADD START*/
#country-add {
  padding-left: 15px;
  width: 370px;
  border-left: 1px solid #e5e5e5;
  box-sizing: border-box;
}

#country-add h1 {
   padding: 10px 15px;
  margin: 0;
  color: #45688E;
  text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

input[type="text"] {
  padding: 10px 15px;
    box-sizing: border-box;
  width: 100%;
}
/* COUNTRY-ADD END*/


@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes back {
  from {
    color: white;
    background-color: #25649f;
    opacity: 0;
  },
  to {
    background-color: white;
    opacity: 1;
  }
}

.anim {
  animation: back .5s alternate ease-in-out;
}

.animEdit {
  animation: edit .5s alternate ease-in-out;
}

.animOpa {
  animation: opa .5s alternate ease-in-out;
}

.hidden {
  display: none;
}

.link {
  float: right;
  text-decoration: underline;
  color: #0088cc;
}

.clickable, li.clickable a:hover {
  background-color: #25649f!important;
}

.clickable a {
  color: white!important;
}

@keyframes edit {
  from {
    background-color: #25649f;
    opacity: 0;
  },
  to {
    background-color: white;
    opacity: 1;
  }
}


@keyframes opa {
  from {
    opacity: 0;
  },
  to {
    opacity: 1;
  }
}

.border-grey {
  color: #e5e5e5;
}

.fa-pencil {
  color: #45688E;
}